<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Cadastro</h1>
        </div>
    </div>

    <div class="row mb-5 d-flex justify-content-center">
        <div class="col-md-8">
            <div>


                <div class="col-md-12  mt-3 mb-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nome" [(ngModel)]='user.nome'>
                    </div>



                    <div class="col-md-12 mt-3 mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" [(ngModel)]='user.usuario'>
                        </div>

                        <div class="col-md-12 form-group mt-3 mb-3">

                            <input type="password" class="form-control" id="inputPassword" placeholder="Senha"
                                (input)='conferirSenha($event)' value='{{senha}}'>
                            <small id="passwordHelpInline" class="text-muted">
                                Deve ter entre 8 e 20 caracteres.
                            </small>

                        </div>

                        <div class="form-group mt-3 mb-5">

                            <input type="passoword" class="form-control" id="senhaConf"
                                placeholder="Digite a confirmação de senha" [(ngModel)]='user.senha'>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary w-25" type="submit" (click)='cadastrar()'>Cadastrar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>